version: "3"

volumes:
  snort_data:

services:
  snort:
    build: 
      context: ./
      ## Please uncomment if you'd prefer to use the locally downloaded rule instead of the downloaded version
{% if offline_mode %}
      dockerfile: snort/offline.Dockerfile
      args:
        RULE_FILENAME: {{ sensor_snort_rule_filename }}
{% else %}
      # dockerfile: snort/offline.Dockerfile
      # args:
      #  RULE_FILENAME: {{ sensor_snort_rule_filename }}
{% endif %}
    network_mode: host
    restart: always
    environment:
      - NETWORK_INTERFACE={{ sensor_network_interface }}
    volumes:
      - ./snort/snort.lua:/usr/local/etc/snort/snort.lua:ro
      - snort_data:/var/log/snort:rw
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.7'
          memory: 256M

###########################
#         Note            #
###########################
# String/text `<machine-id>` will be replaced with content from /etc/machine-id
# String/text `<sensor-id>` will be replaced with content from SENSOR_ID env var
#

  snort-parser:
    image: {{ me_sensor_snort_parser_image }}
    depends_on:
      - snort
    restart: always
    environment:
      - MQTT_HOST={{ mosquitto_host }}
      - MQTT_PORT={{ mosquitto_port }}
      - MQTT_USERNAME={{ mosquitto_username }}
      - MQTT_PASSWORD={{ mosquitto_password }}
      - MAX_PCAP_FILES={{ sensor_max_pcap_files }}
      - SENSOR_ID={{ sensor_id }}
      - MQTT_TOPIC=mataelang/sensor/v3/<sensor-id>
      - SNORT_ALERT_FILE_PATH=/var/log/snort/alert_json.txt
    volumes:
      - /etc/machine-id:/etc/machine-id:ro
      - snort_data:/var/log/snort:rw
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 25M
        reservations:
          cpus: '0.15'
          memory: 15M
