[Unit]
Description=Apache Spark Slave
After=network.target

[Service]
Type=forking
User=spark
Group=spark
EnvironmentFile={{ spark_usr_dir }}/conf/spark-env.sh
WorkingDirectory={{ spark_usr_dir }}
ExecStart={{ spark_usr_dir }}/sbin/start-slave.sh {{ spark_defaults_extras['spark.master'] }}
ExecStop={{ spark_usr_dir }}/sbin/stop-slave.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target