KAFKA_CFG_ZOOKEEPER_CONNECT={{kafka_config_zookeper}}
ALLOW_PLAINTEXT_LISTENER={{config_plaintext_listener}}
KAFKA_CFG_LOG_DIRS={{kafka_config_log_dirs}}
KAFKA_CFG_ADVERTISED_LISTENERS={{kafka_config_advertised_listeners}}
KAFKA_CFG_LISTENERS=CLIENT:{{kafka_config_listeners}}
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP={{kafka_config_security_proto}}
KAFKA_CFG_INTER_BROKER_LISTENER_NAME={{kafka_config_broker_listener}}