SPARK_MASTER={{spark_master}}
SPARK_CHECKPOINT_PATH={{spark_checkpoint_path}}
TIMEZONE=UTC

KAFKA_BOOTSTRAP_SERVERS={{spark_kafka_server}}
KAFKA_INPUT_STARTING_OFFSETS=latest

SENSOR_STREAM_INPUT_TOPIC={{spark_input_topic}}
SENSOR_STREAM_OUTPUT_TOPIC={{spark_output_topic}}

MAXMIND_DB_PATH={{maxmind_db_path}}
MAXMIND_DB_FILENAME={{maxmind_db_filename}}

LOG_LEVEL=DEBUG